header {
    background-color: teal;
    display: flex;
    padding: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header .title {
    color: #fff;
    justify-content: start;
    flex: 1;
    font-size: 20px;
    font-weight: 500;
}
header .profile {

}